html, body {
  height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit; /* 직계부모로부터 상속받음 */
    color: inherit;
    text-decoration: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    word-break: keep-all;
  }

 body {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
 }
 
/* a, span, small, b, i, strong, em, label {
  display: inline-block;
} */

li {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

select, textarea, input {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

iframe, fieldset {
  border: none;
}

.hidden {
  position: fixed;
  left: -10000px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}